@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

* {
  font-family: Roboto;
  margin: 0;
  padding: 0;
}

html {
  display: flex;
  justify-content: center;
}

/* Grid */

body {
  display: grid;
  position: relative;
  max-width: 123ch;
  gap: 10px;
  grid-template-columns: 23ch 1fr;
  grid-template-rows: 18ch 1fr 2ch;
}

#headerContainer,
#footerContainer {
  grid-column: 1 / -1;
}

#mainContainer {
  grid-column: 2 / -1;
}


/* Header */
header {
  background-image: url(../pictures/egg.jpeg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position-y: -300px;
}

.header {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  width: 100%;
  border-bottom: #ffa94d solid 4px;
  backdrop-filter: blur(5px) brightness(50%);
  /* Adjust the blur value as needed */
}

.header>h1 {
  font-size: 60px;
  color: #ffa94d;
}

.header img {
  position: absolute;
  left: 0;
  margin-left: 5px;
  height: 150px;
}

/* Menu */
.menuBox {
  display: flex;
  gap: 5px;
  flex-direction: column;
  justify-content: center;
}

.menuBox>button {
  border: 0;
  height: 50px;
  background-color: #ffa94d;
}

.orderList {
  max-height: 200px;
  overflow-y: auto;
}

/* Footer */
#footerContainer {
  display: flex;
  justify-content: center;
  align-items: center;
}

footer {
  color: #ffa94d;
}


/* Hiding and showing button content */
#mainLanguage,
#filterContainer,
#orderContainer.hide {
  height: 0;
  overflow-y: hidden;
  transition: height 0.3s;
}

#mainLanguage.show,
#filterContainer.show,
#orderContainer {
  height: 400px;
}


/* Temporary for testing  */
.basketQuantitySvg {
  width: 20px;
  height: 20px;
  pointer-events: none;
}

li {
  list-style: none;
}

.basketQuantity {
  background: none;
  border: none;
  padding: 0;
  cursor: pointer;
  display: inline;
  outline: none;
  text-align: center;
}

@media (max-width: 1000px) {
  body {
    display: flex;
    flex-direction: column;
  }

  header {
    position: fixed;
    height: 12vw;
    width: 100%;
  }

  .menuBox {
    margin-top: 14vw;
  }

  .header>h1 {
    font-size: 7vw;
  }

  .header img {
    height: 10vw;
  }
}