@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Marck+Script&display=swap');

* {
  font-family: Roboto;
  margin: 0;
  padding: 0;
}

html {
  display: flex;
  justify-content: center;
}

/* Grid */
body {
  display: grid;
  position: relative;
  background-color: #FAF4EA;
  height: 100%;
  grid-gap: 10px;
  grid-template-columns: 25ch 80ch;
  grid-template-rows: 18vh 77.87vh 2vh;
}

#headerContainer,
#footerContainer {
  grid-column: 1 / -1;
}

#mainContainer {
  grid-column: 2 / -1;
  overflow-y: auto;
  max-height: 100%;
}

/* Header */
header {
  position: relative;
}

header::before {
  content: "";
  background-image: url(../pictures/egg.webp);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  position: absolute;
  width: 100%;
  height: 100%;
  transform: scaleX(-1);
  z-index: -1;
}

#header {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  width: 100%;
  border-bottom: #ffa94d solid 4px;
  backdrop-filter: blur(5px) brightness(50%);
}

#header>h1 {
  font-size: 6vh;
  text-shadow: 2px 2px 5px black;
  color: #ffa94d;
  font-family: 'Marck Script', cursive;
}

#header img {
  position: absolute;
  left: 0;
  margin-left: 5px;
  height: 17vh;
}

/* Menu */
#menu {
  display: flex;
  gap: 5px;
  flex-direction: column;
  justify-content: center;
}

.button {
  border: 0;
  height: 50px;
  letter-spacing: 4px;
  font-size: 20px;
  font-weight: 500;
  background-color: #ffa94d;
  border-radius: 10px;
  cursor: pointer;
}

.filter {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.subFilterHeader {
  background: url(//s2.svgbox.net/pen-brushes.svg?ic=brush-1&color=ffa94d);
  margin: -2px -6px;
  padding: 2px 6px;
  margin-top: 10px;
  margin-bottom: 4px;
  background-repeat: no-repeat;
  background-size: 100% 100%;
}

.filterInput {
  display: none;
}

.filterLabel:before {
  position: absolute;
  content: "";
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  cursor: pointer;
}

#orderList {
  max-height: 200px;
  overflow-y: auto;
  border-bottom: #ffa94d solid 4px;
  margin-bottom: 4px;
}

#mainLanguage>div {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.languageBox,
.filterSelect {
  display: grid;
  grid-template-columns: 1fr 16px;
  width: 90%;
  margin-bottom: 5px;
  padding: 5px;
  border: #ffa94d solid 2px;
  border-radius: 10px;
  background-color: white;
}

.filterSelect {
  grid-template-columns: 1fr;
  position: relative;
  height: 16px;
}

.languageBox:hover {
  background-color: #ffa94d;
}


.languageBox>label {
  letter-spacing: 4px;
  font-weight: 500;
}

#priceSort {
  display: grid;
  grid-template-columns: 1fr 16px;
  width: 90%;
  font-size: 14px;
  margin-bottom: 5px;
  padding: 5px;
  border: #ffa94d solid 2px;
  border-radius: 10px;
  background-color: white;
  cursor: pointer;
}

input[type='radio'] {
  accent-color: #000000;
}

.basketItem {
  margin-bottom: 4px;
  padding-bottom: 4px;
  border-bottom: solid #ffa94d 1px;
}

.basketItem:last-child {
  border-bottom: 0;
}

.basketQuantitySvg {
  width: 20px;
  height: 20px;
  pointer-events: none;
}

.basketQuantity:hover {
  color: #ffa94d;
}


li {
  list-style: none;
}

.basketQuantity {
  display: flex;
  background: none;
  border: none;
  padding: 0;
  cursor: pointer;
  display: inline;
  outline: none;
  text-align: center;
}

/* Main Content */
#main {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 15px;
}


.food-cards {
  height: 320px;
  width: 200px;
  box-shadow: 2px 2px 15px 1px rgba(0, 0, 0, 0.2);
  border-radius: 10px;
  background-color: white;
  text-align: center;
}

.food-cards:last-child {
  margin-bottom: 15px;
}

.food-cards>div:last-child {
  display: flex;
  align-items: center;
  height: 120px;
}

.addToBasket,
#order {
  text-align: center;
  border: none;
  letter-spacing: 1px;
  font-weight: 500;
  background-color: #ffa94d;
  border-radius: 6px;
  padding: 5px 12px;
}

.addToBasket:hover,
#order:hover {
  background-color: #ffc384;
  cursor: pointer;
}

.food-img {
  width: 100%;
  height: 30%;
  max-width: 100%;
  max-height: 100%;
  object-fit: cover;
  border-radius: 10px 10px 0 0;
}

.food-price,
.food-title,
.food-description {
  margin-top: 10px;
  font-size: 15px;
  padding: 0 4px;
}

.food-price {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5px;
  padding: 6px 0;
}

/* Footer */
#footerContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: -9px;
}

footer {
  color: black;
}


/* Hiding button content */
#mainLanguage,
#filterContainer,
#orderContainer.hide {
  max-height: 0;
  overflow-y: hidden;
  transition: max-height 0.3s ease;
}

/* Showing button content */
#mainLanguage.show,
#filterContainer.show,
#orderContainer {
  max-height: 450px;
  transition: max-height 0.3s ease;
}




@media(max-width: 960px) {

  body {
    display: flex;
    flex-direction: column;
    width: 100%;
  }

  header {
    position: fixed;
    height: 15vw;
    width: 100%;
  }

  #header>h1 {
    font-size: 7vw;
  }

  #header img {
    height: 11vw;
  }

  #mainLanguage,
  #filterContainer,
  #orderContainer.hide {
    width: 90%;
    margin: 0 auto;
  }

  #mainLanguage.show,
  #filterContainer.show,
  #orderContainer {
    max-height: 250px;
    overflow-y: auto;
    width: 90%;
    margin: 0 auto;
  }

  #orderContainer {
    overflow-y: visible;
  }

  #menu {
    margin-top: 17vw;
  }

  .button {
    width: 90%;
    margin: 0 auto;
  }

  #main {
    justify-content: center;
    overflow-y: hidden;
    max-height: fit-content;
  }

  @media (max-width: 415px) {
    .food-cards {
      height: 320px;
      width: 90%;
    }
  }
}