/* Grid */
#headerContainer {
  grid-area: header;
}

#menuContainer {
  grid-area: menu;
}

#mainContainer {
  grid-area: main;
}

#footerContainer {
  grid-area: footer;
}

body {
  display: grid;
  grid-template-areas:
    'header header header header header header'
    'menu main main main main main'
    'menu footer footer footer footer footer';
}

/* Header */
.header {
  display: inline-flex;
  align-items: center;
  width: 100%;
  border: solid black 2px;
  background-color: #d6e4ca;
}

.header>h1 {
  font-size: 80px;
}

.header img {
  height: 150px;
}

/* Hiding and showing button content */
#mainLanguage {
  max-height: 0;
  overflow-y: hidden;
  transition: max-height 0.3s;
}

#mainLanguage.show {
  max-height: 100px;
}

#filterContainer {
  max-height: 0;
  overflow-y: hidden;
  transition: max-height 0.3s;
}

#filterContainer.show {
  max-height: 200px;
  overflow-y: auto;
}

#orderContainer {
  max-height: 100px;
  overflow-y: auto;
  transition: max-height 0.3s;
}

#orderContainer.hide {
  max-height: 0;
  overflow-y: hidden;
}

/* Temporary for testing  */
.basketQuantitySvg {
  width: 20px;
  height: 20px;
  pointer-events: none;
}

li {
  list-style: none;
}

.basketQuantity {
  background: none;
  border: none;
  padding: 0;
  cursor: pointer;
  display: inline;
  outline: none;
  text-align: center;
}